@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }

  @variants responsive {
    .min-w-one-third {
      min-width: calc(100% / 3);
    }

    .mw-one-third {
      max-width: calc(100% / 3);
    }

    .mw-half {
      max-width: 50%;
    }
  }
}
